body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../assets/hotBeverage-powerUp-sprite.jpg");
  background-image: no-repeat;
  background-position: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  background-color: black;
  color: white;
  font-size: 24px;
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid grey;
}
