/* - - - General Styles - - - */

/* @font-face {
  font-family: "Postdam";
  src: url("../fonts/Potsdam.ttf");
  font-style: normal;
  font-weight: bold;
} */

* {
  font-family: "sans-serif";
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("../img/skiRunMaister2.png");
  background-image: no-repeat;
  background-position: 50%;
}

/* - - - Game Panel Styles - - - */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  background-color: black;
  color: white;
  font-size: 20px;
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid grey;
}

meter {
  padding-bottom: 5px;
}

/* - - - Button Styles - - - */

.btn {
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 15px;
  border: 2px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.btn:hover {
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
}
.btn:active {
  position: relative;
  top: 1px;
}

.score {
  padding: 0 20px;
  margin: 0 20px;
  min-width: 150px;
  max-width: 150px;
}

/* - - - How To Play Styles - - - */

.how-to {
  width: 1000px;
  background-color: #eae0c2;
  border: 2px solid grey;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li img {
  width: 40px;
  height: 40px;
}

.hidden {
  display: none;
}
